[user]
  name = Giuseppe Lo Presti
  email = glopresti@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[rerere]
  enabled = 1
[core]
  fileMode = false
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  stat = show --stat
  rmtag = !git tag -d $1 && git push origin :refs/tags/$1 && :
[push]
   default = simple
